/*
  ========================================
  Home
  ========================================
*/

body {
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
body {
    background-color: powderblue;
}

.intro-content {
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
}

img {
  height: 100px;
  width: auto;
}
#my-picture {
  border-radius: 25px;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
/*
  ========================================
  Menu bar
  ========================================
*/

.nav-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-wrapper li {
    float: left;
}

.nav-wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-wrapper li a:hover {
    background-color: #111;
}

.active {
  background-color: grey;
}
/*
========================================
Blog
========================================
*/

.blog-content {
  text-align: justify;
  position: relative;
}
.container {
  width:800px;
  margin:0
  auto;}


/*
  ========================================
  About
  ========================================
*/

.likes {
  list-style-type: none;
}

.about {
  text-align: center;
  padding-top: 75px;
  font-size: 2em;
}

/*
  ========================================
  Contact
  ========================================
*/

.contact {
  text-align: center;
  padding-top: 75px;
  font-size: 2em;
}
